// 颜色变量
$colors: (
  "white": #ffffff,
  "black": #000000,
  "primary": #4f5cd1,
  "text": #333333,
  "tip1": #666666,
  "tip2": #999999,
  "placehold": #cccccc,
  "warning": #ffa73f,
  "up": #11b997,
  "down": #d41136
);

// 边框颜色
$border-colors: (
  "p": map-get($colors, 'primary'),
  "t": map-get($colors, 'text')
);

// -------------------------------------- 字体变量 ------------------------------------
// 字体尺寸变量
$font-size: (
  "xxxxxs": 18px,
  "xxxxs": 19px,
  "xxxs": 20px,
  "xxs": 22px,
  "xs": 24px,
  "sm": 26px,
  "md": 28px,
  "lg": 30px,
  "xl": 32px,
  "xxl": 34px,
  "xxxl": 36px,
  "xxxxl": 38px,
  "xxxxxl": 40px
);

// -------------------------------------- 边距变量 ------------------------------------
// 边距类型
$spacing-type: (
  "m": margin,
  "p": padding
);

// 边距尺寸
$spacing-size: (
  "0": 0,
  "5": 5px,
  "10": 10px,
  "15": 15px,
  "20": 20px,
  "25": 25px,
  "28": 28px,
  "30": 30px,
  "35": 35px,
  "40": 40px,
  "45": 45px,
  "50": 50px,
  "55": 55px,
  "60": 60px,
  "65": 65px,
  "70": 70px
);

// -------------------------------------- 工具变量 ------------------------------------
// 方向类型
$direction-type: (
  "t": top,
  "b": bottom,
  "l": left,
  "r": right
);